@font-face {
    font-family: 'cls';
    src: url('CloudLucent-Regular.woff2') format('woff2'),
        url('CloudLucent-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

