::root {
--โคลอี้: url(https://i.imgur.com/jTwqidK.png) center/cover;
--บาตั้น: url(https://i.imgur.com/1QkTHM4.png) center/cover;
--ออดี้: url(https://i.imgur.com/oVjYJR3.png) center/cover;
--ทาโร่: url(https://i.imgur.com/0DnHOrt.png) center/cover;
--เปปเปอร์: url(https://i.imgur.com/zEkXnIP.png) center/cover;
--แม็กกี้: url(https://i.imgur.com/0pcBasG.png) center/cover;
--กัปตันตาเดียว: url(https://i.imgur.com/ehjaS84.png) center/cover;
--เพนนี: url(https://i.imgur.com/GSEqKQw.png) center/cover;
--กู้ด & ไนซ์: url(https://i.imgur.com/npQBbHt.png) center/cover;
--ถงถง: url(https://i.imgur.com/mLEYqEK.png) center/cover;
--ซันนี่: url(https://i.imgur.com/c0zyWn3.png) center/cover;
--เอมิเลีย: url(https://i.imgur.com/5JZuzzC.png) center/cover;
--ปาร์คเกอร์: url(https://i.imgur.com/PuCrkvR.png) center/cover;
--แฮปปี้: url(https://i.imgur.com/BTxDOPv.png) center/cover;
--เมลโล: url(https://i.imgur.com/n0YsRHs.png) center/cover;
--ออมเลต: url(https://i.imgur.com/mZ20uTg.png) center/cover;
--ออกัส: url(https://i.imgur.com/zXInZ4j.png) center/cover;
--จิจิ: url(https://i.imgur.com/6WqcTUU.png) center/cover;
--องุ่น: url(https://i.imgur.com/YJxskYj.png) center/cover;
--มีมี่: url(https://i.imgur.com/ZcxKgqi.png) center/cover;
--แซลมอน: url(https://i.imgur.com/gAh0ZVm.png) center/cover;
--แอลลี่: url(https://i.imgur.com/AsVLMxr.png) center/cover;
--แอนโทนี่: url(https://i.imgur.com/dcHj9GB.png) center/cover;
--จีน่า: url(https://i.imgur.com/ztkkuAg.png) center/cover;
--สโนวบอล: url(https://i.imgur.com/qJvmw8Y.png) center/cover;
--ไรเฟิล: url(https://i.imgur.com/OdOYwRe.png) center/cover;
--เบธตี้: url(https://i.imgur.com/srasKBk.png) center/cover;
--ฟีโอน่า: url(https://i.imgur.com/F2dnIhs.png) center/cover;
--ซิลเวอร์: url(https://i.imgur.com/k2pzBSz.png) center/cover;
--คัสตาร์ด: url(https://i.imgur.com/jUsBjes.png) center/cover;
}
