:root {
  --ชื่อเหมียว: url(https://iili.io/KZJ0q4s.png) center/cover;
  --โคลอี้: url(https://i.imgur.com/jTwqidK.png) center/cover;
  --บาตั้น: url(https://i.imgur.com/1QkTHM4.png) center/cover;
  --ออดี้: url(https://i.imgur.com/oVjYJR3.png) center/cover;
  --ทาโร่: url(https://i.imgur.com/0DnHOrt.png) center/cover;
  --เปปเปอร์: url(https://i.imgur.com/zEkXnIP.png) center/cover;
  --แม็กกี้: url(https://i.imgur.com/0pcBasG.png) center/cover;
  --กัปตันตาเดียว: url(https://i.imgur.com/ehjaS84.png) center/cover;
  --เพนนี: url(https://i.imgur.com/GSEqKQw.png) center/cover;
  --กู้ด & ไนซ์: url(https://i.imgur.com/npQBbHt.png) center/cover;
  --ถงถง: url(https://i.imgur.com/mLEYqEK.png) center/cover;
  --ซันนี่: url(https://i.imgur.com/c0zyWn3.png) center/cover;
  --เอมิเลีย: url(https://i.imgur.com/5JZuzzC.png) center/cover;
  --ปาร์คเกอร์: url(https://i.imgur.com/PuCrkvR.png) center/cover;
  --แฮปปี้: url(https://i.imgur.com/BTxDOPv.png) center/cover;
  --เมลโล: url(https://i.imgur.com/n0YsRHs.png) center/cover;
  --ออมเลต: url(https://i.imgur.com/mZ20uTg.png) center/cover;
  --ออกัส: url(https://i.imgur.com/zXInZ4j.png) center/cover;
  --จิจิ: url(https://i.imgur.com/6WqcTUU.png) center/cover;
  --องุ่น: url(https://i.imgur.com/YJxskYj.png) center/cover;
  --มีมี่: url(https://i.imgur.com/ZcxKgqi.png) center/cover;
  --แซลมอน: url(https://i.imgur.com/gAh0ZVm.png) center/cover;
  --แอลลี่: url(https://i.imgur.com/AsVLMxr.png) center/cover;
  --แอนโทนี่: url(https://i.imgur.com/dcHj9GB.png) center/cover;
  --จีน่า: url(https://i.imgur.com/ztkkuAg.png) center/cover;
  --สโนวบอล: url(https://i.imgur.com/qJvmw8Y.png) center/cover;
  --ไรเฟิล: url(https://i.imgur.com/OdOYwRe.png) center/cover;
  --เบธตี้: url(https://i.imgur.com/srasKBk.png) center/cover;
  --ฟีโอน่า: url(https://i.imgur.com/F2dnIhs.png) center/cover;
  --ซิลเวอร์: url(https://i.imgur.com/k2pzBSz.png) center/cover;
  --คัสตาร์ด: url(https://i.imgur.com/jUsBjes.png) center/cover;
  --ชื่อโฮ่ง: url(https://cdn.imgchest.com/files/8fb9b82950e8.png) center/cover;
  --วีนัส: url(https://cdn.imgchest.com/files/8482317a67f5.png) center/cover;
  --โมจิ: url(https://cdn.imgchest.com/files/80df3091eaa9.png) center/cover;
  --คาราเมล: url(https://cdn.imgchest.com/files/3e06d1425fe4.png) center/cover;
  --ออโรรา: url(https://cdn.imgchest.com/files/ddf3c4a42315.png) center/cover;
  --เรดโอ๊ก: url(https://cdn.imgchest.com/files/831a695b1c9c.png) center/cover;
  --โนวา: url(https://cdn.imgchest.com/files/7e41fc29bc6a.png) center/cover;
  --ซากุระ: url(https://cdn.imgchest.com/files/f978df6cb6ae.png) center/cover;
  --เฮเซล: url(https://cdn.imgchest.com/files/9a8472417e52.png) center/cover;
  --คอปเปอร์: url(https://cdn.imgchest.com/files/71428df78973.png) center/cover;
  --มูนไลท์: url(https://cdn.imgchest.com/files/12649510962d.png) center/cover;
  --ชิเงรุ: url(https://cdn.imgchest.com/files/b69624e953ce.png) center/cover;
  --ยอรึม: url(https://cdn.imgchest.com/files/253e0c4ae87b.png) center/cover;
  --อพอลโล: url(https://cdn.imgchest.com/files/85048c4f758c.png) center/cover;
  --แฟรงก์เฟิร์ต: url(https://cdn.imgchest.com/files/e4e7e49f4a25.png) center/cover;
  --เซเลสเทีย: url(https://cdn.imgchest.com/files/fd8b1cdc4246.png) center/cover;
  --นอร์ธ: url(https://cdn.imgchest.com/files/ac269db88874.png) center/cover;
  --ภูผา: url(https://cdn.imgchest.com/files/48ea88ae4a7a.png) center/cover;
  --โดมิโน่: url(https://cdn.imgchest.com/files/67a8e54af133.png) center/cover;
  --โอโซน: url(https://cdn.imgchest.com/files/46756058ca57.png) center/cover;
  --บลูม: url(https://cdn.imgchest.com/files/cf2a3dab7a3b.png) center/cover;
  --มิราจ: url(https://cdn.imgchest.com/files/031c053ad850.png) center/cover;
  --ไจแอนท์: url(https://cdn.imgchest.com/files/cc0b50cafa2c.png) center/cover;
  --ยู่ทู่: url(https://cdn.imgchest.com/files/9fe8b9210364.png) center/cover;
  --สตาร์: url(https://cdn.imgchest.com/files/d1ee741ae686.png) center/cover;
  --บัตเตอร์: url(https://cdn.imgchest.com/files/284ae6bed5ac.png) center/cover;
  --สกาย: url(https://cdn.imgchest.com/files/3ef5f944ea30.png) center/cover;
  --อาคาเซีย: url(https://cdn.imgchest.com/files/16a1d9f2c0b9.png) center/cover;
  --คยออุล: url(https://cdn.imgchest.com/files/88d84fae12f3.png) center/cover;
  --ซิลเวอร์: url(https://cdn.imgchest.com/files/5a5b9d3eb985.png) center/cover;
  --มะขาม: url(https://cdn.imgchest.com/files/054376bbae24.png) center/cover;
}
