#ely-a {
  max-width: 100%;
  margin: 9% 1% 3% 1%;
}

#ely-a .b {
  max-width: 750px;
  box-sizing: border-box;
  padding: 4% 2% 0% 2%;
  margin: auto;
  font: clamp(0.8rem, 1.1vw, 1.1rem) Maitree;
  font-weight: 400;
  background: url(https://iili.io/fJMoaS9.png) center/cover,url(https://iili.io/fHgztoP.gif) top/cover;
  text-align: center;
  border: 1px solid #3a3a3a;
  position: relative;
}

#ely-a .c1 {
  width: 5%;
  aspect-ratio: 1 / 1;
  background: url(https://iili.io/fH6rYhX.png) center/cover;
  position: absolute;
  top: -4px; left: -4px;
}

#ely-a .c2 {
  width: 5%;
  aspect-ratio: 1 / 1;
  background: url(https://iili.io/fH6raQn.png) center/cover;
  position: absolute;
  top: -4px;
  right: -4px;
}

#ely-a .c3 {
  width: 5%;
  aspect-ratio: 1 / 1;
  background: url(https://iili.io/fH6r7It.png) center/cover;
  position: absolute;
  bottom: -4px;
  left: -4px;
}

#ely-a .c4 {
  width: 5%;
  aspect-ratio: 1 / 1;
  background: url(https://iili.io/fH6rlBs.png) center/cover;
  position: absolute;
  bottom: -4px;
  right: -4px;
}

#ely-a .t {
  width: 10%;
  aspect-ratio: 4 / 7;
  position: absolute;
  top: -25%;
  left: 50%;
  transform: translateX(-50%);
  background: url(https://iili.io/fHreADx.png) center / cover;
}

#ely-a .w {
  font-size: clamp(0.65rem, 0.8vw, 1rem);
  font-style: italic;
  color: #ff4040;
  margin-top: 5.5%;
}

#ely-a .w::before {
  content: "ห้ามผู้ไม่เกี่ยวข้องเข้ามาภายใน";
}

#ely-a .nn {
  font-size: clamp(1.35rem, 1.7vw, 2rem);
  font-weight: 700;
}

#ely-a .nn::before {
  content: "ลานประลอง";
}

#ely-a .tb {
  width: 100%;
  display: flex;
  margin-top: 4%;
  justify-content: space-between;
  align-items: center;
}

#ely-a .fe {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

#ely-a .fs {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

#ely-a .bd {
  width: fit-content;
  height: 100%;
  box-sizing: border-box;
  padding: 1px;
  clip-path: polygon(10% 0%, 90% 0%, 100% 20%, 100% 80%, 90% 100%, 10% 100%, 0% 80%, 0% 20%);
  background: #303030;
}

#ely-a .p1n {
  width: fit-content;
  box-sizing: border-box;
  padding: 10px 25px;
  clip-path: polygon(10% 0%, 90% 0%, 100% 20%, 100% 80%, 90% 100%, 10% 100%, 0% 80%, 0% 20%);
  background: linear-gradient(18deg, var(--p1), transparent), url(https://iili.io/fJQz9kb.png) center/cover;
  background-blend-mode: color;
  font-weight: 700;
  text-shadow: 0 0 18px #ababab;
}

#ely-a .f {
  flex: 0 0 auto;
  padding: 0 3%;
}

#ely-a .p2n {
  width: fit-content;
  box-sizing: border-box;
  padding: 10px 25px;
  clip-path: polygon(10% 0%, 90% 0%, 100% 20%, 100% 80%, 90% 100%, 10% 100%, 0% 80%, 0% 20%);
  background: linear-gradient(317deg, var(--p2), transparent), url(https://iili.io/fJZzFiN.png) center/cover;
  background-blend-mode: color;
  font-weight: 700;
  text-shadow: 0 0 18px #ababab;
}

#ely-a .g {
  width: fit-content;
  margin: 6% auto auto auto;
  padding: 1px 1px 0 1px;
  box-sizing: border-box;
  background: #3a3a3a;
  clip-path: polygon(13% 1%, 87% 1%, 100% 100%, 0% 101%);
  font: clamp(0.5rem, 0.75vw, 0.8rem) Maitree;
  color: #afa991;
}

#ely-a .p {
  width: fit-content;
  box-sizing: border-box;
  padding: 6px 36px;
  background: #030304;
  clip-path: polygon(13% 0%, 87% 0%, 100% 100%, 0% 101%);
  font: clamp(0.5rem, 0.75vw, 0.8rem) Maitree;
  color: #767469;
}