#ely-aw {
  max-width: 100%; 
  margin: 9% 1% 3% 1%;
}

#ely-aw .b {
  max-width: 750px;
  box-sizing: border-box;
  padding: 4% 2% 5% 2%;
  margin: auto;
  font: clamp(0.8rem, 1.1vw, 1.1rem) Maitree;
  font-weight: 400;
  background: url(https://iili.io/fJQ63dv.png) center/cover,url(https://iili.io/fHgztoP.gif) top/cover;
  text-align: center;
  border: 1px solid #3a3a3a;
  position: relative;
}

#ely-aw .c1 {
  width: 5%;
  aspect-ratio: 1 / 1;
  background: url(https://iili.io/fH6rYhX.png) center/cover;
  position: absolute;
  top: -4px;
  left: -4px;
}

#ely-aw .c2 {
  width: 5%;
  aspect-ratio: 1 / 1;
  background: url(https://iili.io/fH6raQn.png) center/cover;
  position: absolute;
  top: -4px;
  right: -4px;
}

#ely-aw .c3 {
  width: 5%;
  aspect-ratio: 1 / 1;
  background: url(https://iili.io/fH6r7It.png) center/cover;
  position: absolute;
  bottom: -4px;
  left: -4px;
}

#ely-aw .c4 {
  width: 5%;
  aspect-ratio: 1 / 1;
  background: url(https://iili.io/fH6rlBs.png) center/cover;
  position: absolute;
  bottom: -4px;
  right: -4px;
}

#ely-aw .t {
  width: 10%;
  aspect-ratio: 4 / 7;
  position: absolute;
  top: -28%;
  left: 50%;
  transform: translateX(-50%);
  background: url(https://iili.io/fHreADx.png) center / cover;
}

#ely-aw .e {
  font-size: clamp(1.35rem, 1.7vw, 2rem);
  font-weight: 700;
  margin-top: 6%;
}

#ely-aw .e {
  content: "สิ้นสุดการประลอง";
}

#ely-aw .bd {
  width: fit-content;
  height: 100%;
  box-sizing: border-box;
  padding: 1px;
  margin: 5% auto auto auto;
  clip-path: polygon(10% 0%, 90% 0%, 100% 20%, 100% 80%, 90% 100%, 10% 100%, 0% 80%, 0% 20%);
  background: #303030;
}

#ely-aw .wnn {
  width: fit-content;
  box-sizing: border-box;
  padding: 10px 25px;
  clip-path: polygon(10% 0%, 90% 0%, 100% 20%, 100% 80%, 90% 100%, 10% 100%, 0% 80%, 0% 20%);
  background: linear-gradient(18deg, var(--wn), transparent), url(https://iili.io/fJQz9kb.png) center/cover;
  background-blend-mode: color;
  font-weight: 700;
  text-shadow: 0 0 18px #ababab;
  font-size: clamp(1rem, 1.1vw, 1.3rem);
}