#ely-acm {
  width: 100%;
  margin: 12% auto 2% auto;
}

#ely-acm .b {
  max-width: 750px;
  margin: auto;
  border: 1px solid #3a3a3a;
  background: var(--bg);
  box-sizing: border-box;
  padding: 0%;
  font-family: Maitree;
  color: #FFF;
  font-weight: 400;
  position: relative;
}

#ely-acm .h {
  width: 100%;
  aspect-ratio: 8 / 2;
  background: linear-gradient(45deg, var(--hd), transparent), url(https://iili.io/fJLPHbI.png) center / cover;
  background-blend-mode: color;
  -webkit-mask-image: radial-gradient(at top, black -30%, transparent 65%);
  pointer-events: none; user-select: none;
}

#ely-acm .fc {
  width: 18%;
  margin: -38% auto 15% auto;
  position: relative;
  aspect-ratio: 3 / 4;
  background: var(--faceclaim);
  border: 1px solid #3a3a3a;
  border-radius: 50% 50% 0 0;
}

#ely-acm .a {
  width: 30%;
  aspect-ratio: 3 / 1;
  background: radial-gradient(at 50% 150%, var(--aura) 20%, transparent 75%);
  margin: -36.4% auto 25% auto;
}

#ely-acm .t1 {
  width: 20%;
  aspect-ratio: 1 / 1;
  background: url(https://iili.io/fJGbqMv.png) center/cover;
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translate(-60%, -50%);
}

#ely-acm .t2 {
  width: 20%;
  aspect-ratio: 1 / 1;
  background: url(https://iili.io/fJGbqMv.png) center/cover;
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translate(-340%, -50%);
}

#ely-acm .r {
  width: 90%;
  margin: -13% auto 4% auto;
  box-sizing: border-box;
  padding: 15px;
  text-align: justify;
  font-size: clamp(0.8rem, 1vw, 1rem);
  line-height: 2;
  color: #d1d1d1;
}

#ely-acm .op {
  width: fit-content;
  background: linear-gradient(45deg, var(--aura) -50%, transparent), url(https://iili.io/fJQz9kb.png) center / cover;
  background-blend-mode: color;
  border: 1px solid #403922;
  font-size: clamp(1.35rem, 1.7vw, 2rem);
  box-sizing: border-box;
  padding: 1% 4%;
  margin: auto auto 7% auto;
  font-weight: 700;
  color: #d7bd6d;
  line-height: 1.6;
  position: relative;

}
