#sursaint {
 max-width: 630px;
 margin: 3% auto;
}

#sursaint .b {
 width: 85%;
 aspect-ratio: 8 / 2;
 margin: auto;
 border-radius: 13px;
 background: var(--shd);
 border: 1px solid #2a2a2a;
}

#sursaint .g {
 width: 100%;
 margin: -11% auto auto auto;
 background: #ffffff29;
 border-radius: 18px;
 box-sizing: border-box;
 padding: 30px;
 border: 1px solid #6a6a6a;
 position: relative;
 backdrop-filter: blur(11px);
}

#sursaint .t {
 width: 100%;
 display: flex;
 gap: 2%;
 position: relative;
 align-items: center;
}

#sursaint .p {
 width: 10%;
 aspect-ratio: 1 / 1;
 border-radius: 100%;
 border: 1px solid #727272;
 background: var(--spf);
}

#sursaint .n {
 width: fit-content;
 color: #FFF;
 font: clamp(1.2rem, 1.3vw, 1.4rem) Kanit;
}

#sursaint .s {
 color: #999;
 font: clamp(0.65rem, 0.75vw, 0.9rem) Kanit;
 margin-top: -2%;
}

#sursaint .f {
 position: absolute;
 right: 0px;
 top: 0px;
 width: 7%;
 aspect-ratio: 1 / 1;
 border-radius: 15%;
 background: #ffffff2b;
 border: 1px solid #858585;
 align-content: center;
 align-self: anchor-center;
}

#sursaint .i {
 width: 100%;
 aspect-ratio: 1 / 1;
 border-radius: 100%;
 font: clamp(1.2rem, 1.3vw, 1.4rem) Kanit;
 align-content: center;
 text-align: center;
 color: #efffd1;
}

#sursaint .r {
 width: 100%;
 font: clamp(0.85rem, 1vw, 1rem) Maitree;
 line-height: 2;
 text-align: justify;
 margin: 5% auto;
}

#sursaint .l {
 width: 100%;
 height: 1px;
 background: linear-gradient(16deg, #484848 40%, #ababab 80%, #484848 90%);
}

#sursaint .note {
 width: fit-content;
 margin: 2% auto auto auto;
 box-sizing: border-box;
 padding: 1% 5%;
 border-radius: 8px;
 background: #ffffff29;
 border: 1px solid #6a6a6a;
 font: clamp(0.65rem, 0.75vw, 0.9rem) Maitree;
}