/* thai */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/prompt/v12/-W_8XJnvUD7dzB2Cy_gIfWMuQ5Q.woff2) format('woff2');
  unicode-range: U+02D7, U+0303, U+0331, U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* latin-ext */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v37/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkKEo58i-wi40.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v37/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkKEo58a-wg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#tys {
 max-width: 100%;
 box-sizing: border-box;
 padding: 5%;
 position: relative;
}

#tys g {
  color: #666;
}

#tys n-y {font: clamp(1rem, 1.3vw, 1.5rem) Quicksand,Maitree; margin-bottom: 1%; color: #fff;}

#tys .ic {
 width: fit-content;
 margin: auto auto 1% auto;
 border-radius: 200px;
 box-sizing: border-box;
 padding: 1% 3%;
 border: 1px solid #303030;
 background: linear-gradient(275deg, #484848, transparent);
 align-content: center;
 font: clamp(0.65rem, 0.9vw, 1rem) Quicksand;
}

#tys .bb {
 max-width: 50%;
 margin: auto;
 background: #000;
 border-radius: 30px;
 border: 1px solid #2a2a2a;
 box-sizing: border-box;
 padding: 10px;
 position: relative;
}

#tys .fc {
 width: 100%;
 aspect-ratio: 1 / 1;
 border: 1px solid #242424;
 border-radius: 20px;
 background: var(--เฟซเคลม);
}

#tys .tb {
 width: 90%;
 margin: 3% auto;
 color: #7a7a7a;
}

#tys .f {
 font: clamp(0.8rem, 1vw, 1rem) Prompt;
 margin: 30px auto 80px auto;
 font-weight: 300;
 line-height: 2;
}

#tys .name {
 font: clamp(1rem, 1.3vw, 1.5rem) Quicksand;
 text-align: center;
 color: #fff;
}

#tys .info {
 font: clamp(0.5rem, 0.7vw, 0.8rem) Quicksand;
 text-align: center;
 color: #fff;
}

#tys .li {
 width: 16%;
 position: absolute;
 top: 15%;
 left: 9%;
}

#tys .nr {
 width: 100%;
}

#tys .st {
 aspect-ratio: 1 / 1;
 border: 1px solid #242424;
 border-radius: 15px;
 background: var(--ท่อนบน);
}

#tys .fy {
 font: clamp(0.9rem, 1.2vw, 1.5rem) Quicksand;
 margin-top: 2%;
 color: #8d8d8d;
}

#tys .jhl {
 width: 75%;
 margin-left: auto;
}

#tys .a1 {
 aspect-ratio: 1 / 1;
 border: 1px solid #242424;
 margin-top: 25%;
 border-radius: 15px;
 background: var(--เครื่องประดับซ้าย);
}

#tys .fl {
 font: clamp(0.7rem, 1vw, 1.3rem) Quicksand;
 margin-top: 2%;
 color: #8d8d8d;
}

#tys .ri {
 width: 16%;
 position: absolute;
 top: 25%; right: 9%;
}

#tys .jh {
 width: 75%;
}

#tys .a2 {
 aspect-ratio: 1 / 1;
 border: 1px solid #242424;
 border-radius: 15px;
 background: var(--เครื่องประดับขวา);
}

#tys .rt {
 width: 100%;
 margin-top: 25%;
}

#tys .sb {
 aspect-ratio: 1 / 1;
 border: 1px solid #242424;
 border-radius: 15px;
 background: var(--ท่อนล่าง);
}

#tys .phl {
 width: 85%;
 margin-left: auto;
}

#tys .fw {
 aspect-ratio: 1 / 1;
 border: 1px solid #242424;
 margin-top: 25%;
 border-radius: 15px;
 background: var(--รองเท้า);
}




