@keyframes rotate-full {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}

@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animated {
  animation-duration: 0.1s;
  animation-fill-mode: both;
  & .infinite {
    animation-iteration-count: infinite;
  }
}

.rotate-full {
  animation: infinite-spinning 60s infinite linear;
}

.ukau {
  width: 190px;
  height: 190px;
  background: url(https://i.imgur.com/WI0DJ0W.png);
  position: absolute;
  top: -51px;
  right: -23px;
}
