@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500&family=Google+Sans:opsz,wght@17..18,400..700&family=Sriracha&display=swap');

#yon {
  max-width: 700px;
  margin: 80px auto auto auto;
}

#yon .yesorno {
  width: 200px;
  aspect-ratio: 1 / 1;
  position: relative;
  margin: auto;
  background: var(--เฟซเคลม),#FFF;
  border-radius: 100%;
  border: 3px solid var(--หลอด1);
}

#yon .yesorno:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

#yon @keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#yon .bb {
  width: 67%;
  aspect-ratio: 1 / 1;
  background: url(https://iili.io/CHu2j99.png) center/cover, linear-gradient(45deg, var(--หลอด1), var(--หลอด2)); position: absolute;
  top: -101px;
  right: -23px;
  background-blend-mode: luminosity;
  -webkit-mask-image: url(https://iili.io/CHu2j99.png);
  -webkit-mask-size: cover;
}

#yon .nm {
  width: 100%;
  font-size: clamp(1.3rem, 1.3vw, 1.5rem);
  margin: 30px auto 10px auto;
  color: #FFF;
}

#yon .rp {
  width: 100%;
  background: #eaeaea;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 30px;
  border: 12px solid transparent;
  border-image: url(https://cdn.imgchest.com/files/e9b1163eefe5.png) round 30;
  color: #000;
  font: clamp(0.9rem, 1.2vw, 1.1rem) Bai Jamjuree;
  line-height: 1.7;
  text-align: justify;
}
